.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all linear 0.3s;
}

.main-form, .form-update-pass {
    position: fixed;
    z-index: 1;
    width: 360px;
    margin: 0;
    padding: 0;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.nav-bar {
    height: 60px;
    background-color: #ccc;
    display: fixed;
    z-index: 1;
}

.nav-bar-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 200px;
}

.icon-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
    width: 26px;
    height: 26px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    position: relative;
}

.icon-dropdown:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.6s;
}

.icon-dropdown:hover .dropdown-menu-list {
    display: block;
}

.dropdown-menu-list {
    display: none;
    position: absolute;
    z-index: 1;
    list-style: none;
    top: 100%;
    right: 0;
    background-color: #fff;
    width: 150px;
    box-shadow: 1px 1px 5px rgb(184, 181, 181);
}

.dropdown-menu-item {
    padding: 10px 10px;
}

.dropdown-menu-item:hover {
    background-color: #74d6e6;
}

.hello-username {
    display: flex;
    margin: 0;
}

.show-email {
    margin: 0;
    color: red;
    font-weight: 600;
}